@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{

	display:flex;
	align-items: center;
	justify-content: center;
	height:100vh;
	margin:0;

}


.container{
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	height:530px;
	width:500px;
	border-radius:5px;
}


.counter-title{
	font-size: large;
	font-size: 3em;
	color: rgb(105, 11, 65);
	font-family: 'Bebas Neue', cursive;
}

.counter-container{
	height:500px;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
}

.counter-display{
	font-size: 24em;
	font-family: 'Bebas Neue', cursive;
}

.buttons-container{
	display:flex;
	justify-content: space-between;
}


.buttons-container button{
	background-color: rebeccapurple;
	color:white;
	border:none;
	font-size: 1.5em;
	
	cursor:pointer;
	width:49%;
}

.buttons-container button:hover{
	opacity:0.8;
}